.loginContainer {
    width: 50vw;
    height: 50vh;
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 6px solid red;
    padding: 20px;
}

h3 {
    font-size: 52px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input {
    font-family: fantasy;
    font-weight: 1000;
    margin: 5px;
}

label {
    font-family: fantasy;
    font-size: 15px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}