.App { 
  width: 100vw;
  height: 100vh;
  background-color: blue;
  display: flex; 
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  }

  nav {
    width: 100vw;
    height: 10vh;
    background-color: silver;
    display: flex;
    align-items: center;
    padding-left: 100px;
  }

  .loginBox {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    margin-left: 25px;
    color:black;
    text-decoration: none;
    font-weight: 900;
    text-shadow: 2px 2px 5px brown;
  }